/* Generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    padding-top: 80px;
}


/* General-Container*/

.container-large {
    max-width: 1250px;
    margin: 0px auto;
}

.container-small {
    max-width: 1050px;
    margin: 0px auto;
}


/* Header*/

header {
    background-color: #f3ecec;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Add Fixed Header*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header .navbar {
    display: flex;
    align-items: center; 
    padding: 18px;
}

 ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 16px;
}


 .btn {
    text-decoration: none;
    background: #008eff;
    color: white;
    padding: 10px 14px;
 }



 /* Main -> DIV "one-page */

 .one-page {
    height: 720px;
    background-color: rgb(115, 207, 235);
    color: black;
    padding-top: 70px;
    position: relative;
 }

 h1 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 40px;
 }


 p {
    margin-top: 32px;
    margin-bottom: 28px;
}

.arrow-icon {
    margin-top: 60px;
}


.abs-img > img {
    height: 550px;
    position: absolute;
    right: 270px;
    top: 250px;
}



/* Main */


.sect-1 {
  height: 1000px;
}



h2 {
    padding-top: 190px;
}