/* Generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    padding-top: 80px;
}


/* General-Container*/

.container {
    max-width: 1200px;
    margin: 0px auto;
}


/* Header*/

header {
  background-color: #f3ecec;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Add Fixed Header*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header .navbar {
  display: flex;
  align-items: center; 
  padding: 18px;
}

 ul li {
  list-style-type: none;
  display: inline-flex;
  padding: 16px;
}


 .btn {
  text-decoration: none;
  background: #6565e9;
  color: white;
  padding: 10px 14px;
 }



 /* Main*/

 .one-page {
   height: 600px;
   background-color: rgb(115, 207, 235);
   color: black;
 }

 h1 {
  font-size: 60px;
 }