/* Generals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
    padding-top: 80px;
}


/* General-Container*/

.container-large {
    max-width: 1250px;
    margin: 0px auto;
}

.container-small {
    max-width: 1000px;
    margin: 0px auto;
}


/* Header*/

header {
    background-color: #f3ecec;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Add Fixed Header*/
  /*  position: fixed;  */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header .navbar {
    display: flex;
    align-items: center; 
    padding: 18px;
}


.img-header {
    display: block;
}


 .navbar ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 16px;
}


 .btn {
    text-decoration: none;
    background: #008eff;
    color: white;
    padding: 10px 14px;
 }

 .btn-2 {
    padding: 10px 36px;
    text-decoration: none;
    background: #008eff;
    color: white;
 }

 .btn-grey {
    text-decoration: none;
    background: white;
    border: 1px solid grey;
    color: black;
    padding: 10px 14px;
 }



 /* Main -> DIV "one-page */


 .one-page {
    height: 800px;
    background-color: rgb(115, 207, 235);
    color: black;
    padding-top: 70px;
    position: relative;
 }


 .one-page h1 {
    font-size: 84px;
    line-height: 120px;
    margin-bottom: 40px;
 }


 .one-page p {
    margin-top: 32px;
    margin-bottom: 28px;
}

.arrow-icon {
    margin-top: 60px;
}


.abs-img > img {
    height: 490px;
    position: absolute;
    right: 345px;
    top: 350px;
}



/* Main */

/* Section-1 */

.txt-row {
    margin-top: 170px;
    margin-bottom: 60px;
    margin-left: ;
}


.txt-row h1 {
    font-size: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}

.col {
    border: 1px solid red;
    height: ;
    max-width: ;
    flex-basis: calc(100% / 3 - 60px);
    font-size: 14px;
}


.card-head {
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 10px;
}


.card-body {
    margin-top: px;
    padding: 20px;
}


.card-body > h3, .p-mrg {
    margin-top: 25px;
    margin-bottom: 10px;
}




.card-center {
    margin-top: 40px;
    margin-bottom: 40px
}



.card-body hr {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}


.card-main {
  padding-top: 20px;
}

.card-main p {
  padding-top: 20px;
}


/* Card-bottom */



.card-bottom > h4 {
    margin-bottom: 20px;
}



/* Section-2 */


.space {
  margin-bottom: 170px;
}


.row-sec-2 {
    border: 1px solid red;
    width: 100%;
}


.card-head-sec-2 {
    border-bottom: 1px solid red;
    text-align: center;
    padding: 10px;
}


.flex {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 30px;
}

.badge-c-body h4 {
    margin-top: 16px;
    margin-bottom: 50px;
    
  }

.badge-c-body {
    padding-left: 30px;
}

.badge-button {
    margin-top: 10px;
  }




/* Section-3 */

.row-sec-3 {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 300px;
}


.row-img .partner-img {
    height: 550px;
}
  


  .row-txt-3 h2 {
    margin-top: 60px;
    margin-bottom: 24px;
}

  .row-txt-3 p {
    margin-bottom: 34px;
    line-height: 24px;
}


  .row-txt-3 {
    padding-left: 40px;
    
}




  /* Section-4 */
  
  .row-sec-4 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

  .col-sec-4 {
    max-width: 500px ;
    flex-basis: calc(100% / 3);
    padding: 10px;
}

  .h1-mrg h1 {
    margin-bottom: 40px;
}

  
  .card-image-s4 img {
    max-width: 88%;
    display: block;
 }

 
.card-txt-s4 p {
    margin-top: 18px;
    font-size: 15px;
    line-height: 20px;
}

 
.card-txt-s4 h4 {
    font-size: 24px;
    line-height: 24px;
}


/* Section--> Text After Card 6 */

.txt-aft-crd {
    margin: 0 -2px;
    margin-bottom: 170px;
}


.txt-aft-crd h1 {
    margin-top: 170px;
    margin-bottom: 70px;
    font-size: 38px;
    line-height: 50px;
}


  /* Section-5 Block SVG*/

#sponsors .squares {
    display: flex;
}


#sponsors .square {
    border: 2px solid red;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square > .small-square {
    border: 2px solid red;
    flex-basis: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sponsors img {
    width: 50%;
    height: auto;
}


.square-center h1 {
    font-size: 66px;
    margin-left: -4px;
}

.square-center p {
    margin-bottom: 30px;
}


.square-center hr {
    width: 30%;
    margin-bottom: 40px;
}

.square-center {
    margin-top: 50px;
    margin-left: 60px;
}

 /* Background-Color SVG*/

 .bg-green {
    background: #9ef99e;
 }

 .bg-brown {
    background: brown;
 }

 .bg-dodger-b {
    background: rgb(64, 156, 248);
 }

 .bg-red {
    background: red;
 }

 .bg-red-dark {
    background: rgb(189, 0, 0);
 }  

 .bg-blue-light {
    background: #7bffff;
 }

 .bg-blue-dark {
    background: #005ae2;
 }

 .bg-yellow {
    background: yellow;
 }